li {
    list-style: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: $white;
}

a {
    text-decoration: none;
    color:initial;
}
input {
    border: none;
    outline: none;
}
button {
    border: none;
}