.burger {
    display: none;
    position: relative;
    font-family: 'Montserrat';
    &__menu {
        position: relative;
        display: flex;
        justify-content: end;
        align-items: flex-end;
        flex-direction: column;
        z-index: 10;
    }
    &__line {
        height: 2px;
        background: $black;
        margin: 3px 0;
        width: 28px;
    }
    &__wrapper {
        position: absolute;
        right: -78px;
        top: -30px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 0;
        background: $white;
        transition: 0.3s;
        z-index: 9;
    }
    &.active .burger__wrapper {
        height: 101vh;
    }
    &.active .burger__line:nth-child(2) {
        display: none;
    }
    &.active .burger__line:nth-child(1) {
        position: absolute;
        transform: rotate(45deg);
        margin: 0;
    }
    &.active .burger__line:nth-child(3) {
        transform: rotate(-45deg);
        margin: 0;
    }
    &__list {
        text-align: center;
    }
    &__item {
        margin: 10px 0;
    }
    &__link {
        font-weight: 500;
        font-size: 14px;
        color: $black;
        &:hover {
            color: $coroll;
        }
    }
}

@media screen and (max-width: 760px) {
    .burger {
        display: block;
    }
}
