.container {
    max-width: 1062px;
    margin: 0 auto;
}    
@media screen and (max-width:1230px) {
    .container {
        padding: 0 30px;
    }
}
@media screen and (max-width:900px) {
    .container {
        padding: 0 20px;
    }
}
@media screen and (max-width:550px) {
    .container {
        padding: 0 10px;
    }
}