.team {
    font-family: "Montserrat";
    padding-bottom: 143px;
    &__title {
        font-weight: 800;
        font-size: 32px;
        color: $black;
        margin-bottom: 50px;
        text-align: center;
    }
    &__wrapper {
        position: relative;
    }
    &__img--wrapper {
        width: 205px;
        height: 205px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto; 
    }
    &__slide {
        padding-bottom: 55px;
    }
    &__coment {
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 400;
        font-size: 12px;
        color: $rgb;
    }
    &__subtitle {
        display: flex;
        margin: 8px auto 3px;
        justify-content: center;
        font-weight: 700;
        font-size: 17px;
        color: $black;
    }
    &__btn {
        font-weight: 500;
        font-size: 13px;
        background: #e85353;
        border-radius: 3px;
        padding: 5px 12px;
        color: $white;
        display: flex;
        margin: 5px auto 0;
    }
    &__next {
        position: absolute;
        right: -63px;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
@media screen and (max-width: 1215px) {
    .team {
        &__next {
            right: 60px;
            top: 95%;
            z-index: 9;
        }
    }
}
@media screen and (max-width: 600px) {
    .team {
        &__img--wrapper {
            margin: 0 auto;
        }

        &__title {
            font-weight: 500;
            font-size: 22px;
        }
    }
}
